body{
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

article#intro{
    color: black;
    background-color: white;
    opacity: 100px; /* check out opacity on css*/
    display: flex;
    align-items: flex-start;
    width: flex;
    border-radius: 30px;
}

article#intro > img{
    object-fit: scale-down;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: inherit;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: azure;
    padding: 0;
    margin: 0;
    align-items: center;
}

footer > p{
    font-size: 14px;
}