body{
    background-color: rgb(48, 57, 61);
    color: white;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

article#intro{
    color: black;
    background-color: white;
    opacity: 100px; /* check out opacity on css*/
    display: flex;
    justify-content: flex-end;
    width: flex;
    border-radius: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

article#story{
    color: black;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: flex;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
}

article#intro > img{
    
    width: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

div.row > h6{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.icons > span{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 250%;
    line-height: 1.2em;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: azure;
    padding: 0;
    margin: 0;
    align-items: center;
}

footer > p{
    font-size: 14px;
}